<div class="ribbon_container one hidden_with_space">

  <div class="bk l">
    <div class="arrow top"></div>
    <div class="arrow bottom"></div>
  </div>

  <div class="skew l"></div>

  <div class="ribbon_main">
    <div>21st November, 2016</div>
  </div>

  <div class="skew r"></div>

  <div class="bk r">
    <div class="arrow top"></div>
    <div class="arrow bottom"></div>
  </div>
</div>
